@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #F08511;
  --description: #919191;
}

@theme {
  /* Color */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-logo: var(--primary);
  --color-desc: var(--description);
  --color-google-blue: #4285F4;
  --color-google-red: #DB4437;
  --color-google-yellow: #F4B400;
  --color-google-green: #0F9D58;

  /* Width */
  --width-border: 30%;

  /* Drop Shadow */
  --drop-shadow-default: 0 8px 24px rgba(149,157,165,0.2);

  /* Font Family */
  --font-noto: var(--font-noto-sans-jp);

  /* Animation */
  --animate-google-colors: google-colors 5s ease-in-out infinite;
}

@keyframes google-colors {
  0%, 100% {
    color: theme(colors.google-blue);
  }
  25% {
    color: theme(colors.google-red);
  }
  50% {
    color: theme(colors.google-yellow);
  }
  75% {
    color: theme(colors.google-green);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
