@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #F08511;
  --description: #919191;
}

@theme {
  /* Color */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-logo: var(--primary);
  --color-desc: var(--description);

  /* Drop Shadow */
  --drop-shadow-default: 0 8px 24px rgba(149,157,165,0.2);

  /* Font Family */
  --font-noto: var(--font-noto-sans-jp);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
